<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-straight/css/uicons-regular-straight.css" />
    <link rel="stylesheet" href="~/assets/css/home.css" />
</head>
<body>

@await Component.InvokeAsync("Header")

<main>
    @RenderBody()
</main>
<footer>
    <div class="footer-top">
        <div class="custom-container">
            <div class="footer-slogan">
                <div class="slogan-area d-flex align-items-center justify-content-between">
                    <h3>
                        You can be your own <br/>
                        Guiding star with our help
                    </h3>
                    <a href="">Get started</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-center">
        <div class="custom-container">
            <div class="row">
                <div class="col-12 col-md-3 mt-4 mt-md-0">
                    <div class="socials">
                        <img src="~/assets/images/logo-2.png" alt=""/>
                        <p>
                            Great lesson ideas and lesson plans for ESL teachers!
                            Educators can customize lesson plans to best.
                        </p>
                        <ul>
                            <li>
                                <a href="">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-brands fa-pinterest-p"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-3 mt-4 mt-md-0">
                    <div class="company-platform company">
                        <h3>Company</h3>
                        <ul>
                            <li>
                                <a href="">About</a>
                            </li>
                            <li>
                                <a href="">Courses</a>
                            </li>
                            <li>
                                <a href="">Events</a>
                            </li>
                            <li>
                                <a href="">Instructor</a>
                            </li>
                            <li>
                                <a href="">Career</a>
                            </li>
                            <li>
                                <a href="">Become a Teacher</a>
                            </li>
                            <li>
                                <a href="">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-3 mt-4 mt-md-0">
                    <div class="company-platform platform">
                        <h3>Platform</h3>
                        <ul>
                            <li>
                                <a href="">Browse Library</a>
                            </li>
                            <li>
                                <a href="">Library</a>
                            </li>
                            <li>
                                <a href="">Partners</a>
                            </li>
                            <li>
                                <a href="">News & Blogs</a>
                            </li>
                            <li>
                                <a href="">FAQs</a>
                            </li>
                            <li>
                                <a href="">Tutorials</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-3 mt-4 mt-md-0">
                    <div class="subscribe-area">
                        <h3>Subscribe</h3>
                        <div class="search-box d-flex align-items-center">
                            <input type="text"
                                   name=""
                                   id=""
                                   placeholder="Your email address"/>
                            <a href="">
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                        <p>Get the latest news and updates right at your inbox</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>
            © 2022 Educal, All Rights Reserved. Design By
            <a href="">Theme Pure</a>
        </p>
    </div>
</footer>
<script src="https://kit.fontawesome.com/b8714a14d2.js"
        crossorigin="anonymous"></script>
<script src="~/assets/js/home.js"></script>
</body>
</html>
